@import "../abstracts/variables";
@import "../components/buttons";

$tool_icon_size : 20px;

body > .wrapper > footer {
  @include social_media_buttons(2em, 1.25px, $text_color, $accent_color);

  padding : 60px;

  section h2 {
    margin : 0 0 1em 0;
  }

  section p {
    margin : 0 0 2em 0;
  }

  dl.alt dt {
    display : block;
    width : 3em;
    margin : 0;
    clear : left;
    float : left;
    font-weight : 400;
  }

  dl.alt dd {
    margin : 0 0 0.85em 5.5em;
  }

  ul.actions {
    list-style : none;
    margin : 0;
    padding : 0;

    li {
      border : solid 1px $text_color;
      border-radius : 8px;
      display : inline-block;
    }

    a.button {
      display : inline-block;
      height : 2.75em;
      line-height : 2.75em;
      min-width : 9.25em;
      padding : 0 1.5em;
      text-align : center;
      color : $text_color;
    }
  }

  #builtwith {
    font-family : monospace;
    font-style : normal;
    font-weight : 100;
    font-size : 0.8em;

    margin : 60px 0 0 0;

    color : $text_color;

    img {
      width : $tool_icon_size;
      height : $tool_icon_size;
    }
  }

  @media(max-width: $device_md) {
    .col-md-6:first-child {
      margin-bottom : 100px;
    }

    section {
      text-align : center;
    }

    ul.actions li {
      width : 100%;

      a.button {
        width : 100%;
        line-height : 2.5em;
        height : 2.5em;
      }
    }

    dl {
      width : fit-content;

      dt {
        text-align : left;
      }

      dd {
        text-align : right;
      }
    }

    .social-media-buttons {
      text-align : left;

      li:first-child {
        margin-left : 0px;
      }
    }
  }
}
