@import "../abstracts/variables";
@import "../components/buttons";

$tool_icon_size : 20px;

body > .wrapper > footer {
  @include social_media_buttons(2em, 1.25px, $text_color, $background_color_primary);

  section h2 {
    margin : 0 0 1em 0;
  }

  section p {
    margin : 0 0 2em 0;
  }

  dl.alt {
    display : inline-block;
  }

  dl.alt dt {
    display : block;
    width : 2em;
    margin : 0;
    clear : left;
    float : left;
    font-weight : 400;
    text-align : left;
  }

  dl.alt dd {
    margin : 0 0 0.85em 3.5em;
    text-align : right;
  }

  ul.actions {
    list-style : none;
    margin : 0;
    padding : 0;

    li {
      border : solid 1px $text_color;
      border-radius : 8px;
      display : inline-block;
    }

    a.button {
      display : inline-block;
      height : 2.75em;
      line-height : 2.75em;
      min-width : 9.25em;
      padding : 0 1.5em;
      text-align : center;
      color : $text_color;
    }
  }

  #builtwith {
    font-family : monospace;
    font-style : normal;
    font-weight : 100;
    font-size : 0.8em;

    color : $text_color;

    img {
      width : $tool_icon_size;
      height : $tool_icon_size;
    }
  }

  .col-md-6:last-child {
    text-align : right;
  }

  @media(max-width: $device_md) {
    .col-md-6:first-child {
      margin-bottom : 60px;
    }

    section, 
    .col-md-6:last-child {
      text-align : center;
    }

    ul.actions li {
      width : 100%;
      max-width : 10em;
    }
  }
}
