@import "../abstracts/_variables";

body div.wrapper nav {
  position : absolute;
  padding  : 1em;
  border-top-left-radius : 0.25em;
  border-top-right-radius : 0.25em;
  text-align : center;
  background-color : $nav_color;
  width : calc(100% - (2 * #{$wrapper_lg_side_gutter}));

  @media(max-width : $device_md){
    width : calc(100% - (2 * #{$wrapper_md_side_gutter}));
  }

  &.alt {
    position : fixed;
    top : 0;
    border-top-right-radius : 0;
    border-top-left-radius : 0;
    z-index : 1000;
    padding : 0.8em;
  }

  ul {
    margin : 0px;
    padding : 0px;
    list-style : none;
    width : 100%;
  }

  ul li {
    display : inline;
    margin : 0 0.35em;
  }


  ul li a {
    display : inline-block;
    padding : 0 1.25em;
    height : 2.25em; 
    line-height : 2.25em;
  }

  ul li a.active {
    border-radius : 8px;
    border : 0;

    background-color : white;
  }
}
