/* Follow Responsiveness via Gracefull Degradation */

@import "../abstracts/variables";

@media(max-width : $device_lg){

}

@media(max-width : $device_md) {
  body > .wrapper {
    padding : 2em;
  }
}

@media(max-width : $device_sm) {
  body {
    font-size : 12pt;
  }
}

@media(max-width : $device_xs) {
  body > .wrapper {
    padding : 2em 0em;
  }

  body > .wrapper > footer,
  body section#content > section {
    padding : 3em 1em 2em 1em;
  }
}
