/*
 *       _____ __        __                          
 *      / ___// /___  __/ /__    ____________________
 *      \__ \/ __/ / / / / _ \  / ___/ ___/ ___/ ___/
 *     ___/ / /_/ /_/ / /  __/ (__  ) /__(__  |__  ) 
 *    /____/\__/\__, /_/\___(_)____/\___/____/____/  
 *             /____/                                
 */

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

$primary_color : #fffffd;
$accent_color : #c4cccf;

$background_image : url("../images/ferry.jpg");

$gradient_color_a : rgba(255, 165, 150, 0.25);
$gradient_color_b : rgba(0, 228, 255, 0.20);

$social_media_icon_opacity : 0.4;
$social_media_icons : (
  ('soundcloud', rgba(255, 85,    0, $social_media_icon_opacity)),
  ('github',     rgba(0,   0,     0, $social_media_icon_opacity)),
  ('linkedin',   rgba(0,   155, 177, $social_media_icon_opacity)),
  ('envelope-o', rgba(255, 68,   68, $social_media_icon_opacity)),
  ('instagram',  rgba(255, 116, 150, $social_media_icon_opacity))
);

@function _full_shadow($size, $color) {
  @return $size 0 0 $color, -$size 0 0 $color, 0 $size 0 $color, 0 -$size 0 $color;
}

@mixin vendorize($property, $value) {
  #{$property} : -webkit-#{$value};
  #{$property} :    -moz-#{$value};
  #{$property} :     -ms-#{$value};
  #{$property} :         #{$value};
}

@mixin icon_size_parent($size) {
    height : $size;
    width : $size;
    line-height : $size;
    text-indent : $size;
}

@mixin icon_size_child($size) {
  font-size : $size / 2.0;
}

.icons {
  margin : 0 0 2.0em 0;
}

.icons li {
  padding : 0.675em 0.5em;
}

.icons li a {
  @include icon_size_parent(3em);
  border-color : $accent_color;

  display : inline-block;

  border-radius : 100%;
  border : solid 1px $accent_color;
  overflow : hidden;
  text-align : center;
  position : relative;
}

.icons li a:before {
  @include icon_size_child(3em);

  position : absolute;
  top : 0;
  left : 0;
  width : inherit;
  text-indent : 3px;
  -moz-osx-font-smoothing : grayscale;
  font-style : normal;
  font-weight : normal;
  text-transform : none !important;
  text-shadow : _full_shadow(1.25px, $accent_color);
  color : $primary_color;

  font-family : FontAwesome;
}

@each $platform, $color in $social_media_icons {
  .icons .fa-#{$platform}:hover {
    border-color : $color;
  }

  .icons .fa-#{$platform}:hover:before {
    text-shadow : _full_shadow(1.25px, $color);
  }
}

html, body, #wrapper {
  height : 100%;
  margin : 0;
  padding : 0;
}

body#landing {
  background-image: url("images/overlay.png"), linear-gradient(60deg, $gradient_color_a 5%, $gradient_color_b), $background_image;
  background-repeat : repeat, no-repeat, no-repeat;
  background-attachment : fixed, fixed, fixed;
  background-position : top left, center center, bottom center;
  background-size : 100px 100px, cover, cover;

  font-family : "Source Sans Pro";
  font-size : 11pt;
  line-height : 1.5;
}

h1, h2, h3, h4, h5, h6, p, span, ul, ol, li {
  font-weight : 200;
}

#landing h1 {
  font-size : 1.85em;
  margin : 0 0 14px 0;
}

#landing h2 {
  font-size : 1.25em;
  margin : 0 0 13px 0;
}

#landing section#main p {
    margin : 0 0 20px 0;
}

#landing #wrapper {
  display : flex;
  padding : 1.5em;
  height : calc(100% - 3em);

  text-transform : uppercase;
  letter-spacing : 0.2em;

  /* For centering the content */
  // position : relative;

  justify-content : center;
  align-items : center;
  flex-direction : column;
}

#landing section#main {
  min-width : 320px;
  max-width : 100%;
  background-color : $primary_color;
  text-align : center;
  padding : 4.5em 3em;
  border-radius : 4px;
  opacity : 0.925;
}

#landing .avatar {
  position : relative;
  display : block;
  margin-bottom : 1.5em;
}

#landing .avatar:before {
  content : '';
  display : block;
  position : absolute;
  top : 50%;
  left : -3em;
  width : calc(100% + 6em);
  height : 1px;
  z-index : -1;
  background : $accent_color;
}

#landing .avatar img {
  border-radius : 100%;
  box-shadow : 0 0 0 1.5em $primary_color;
  height : 122px;
  width : 122px;
}

#landing ul {
  list-style : None;
  margin : 0;
  padding : 0;
}

#landing ul.icons li {
  display : inline;
  font-family : font-awesome;
}

#landing div#wrapper > footer {
  color : $primary_color;
  font-size : 0.9em;
  margin : 20px;

}

@media handheld {
  @each $platform, $color in $social_media_icons {
    .icons .fa-#{$platform} {
      border-color : $color;
    }

    .icons .fa-#{$platform}:before {
      text-shadow : _full_shadow(1.25px, $color);
    }
  }
}

@media (max-height : 540px) and (min-aspect-ratio : 4/3), handheld and  (orientation : landscape) {
  #landing section#main > * {
    margin : 0 30px 0 0;
  }

  #landing section#main > footer {
    margin : 0;
  }

  /* display card across a row instead of as a column*/
  #landing section#main {
    display : flex;
    align-items : center;
    text-align : left;
    padding : 3em;
  }

  /* Clear the Pinstripe on the avatar */
  #landing .avatar:before {
    display : none;
    margin-right : 20px;
  }

  /* Clear the outer shadow border on the avatar */
  #landing .avatar img {
    box-shadow : 0 0 0 0 #fff;
  }

  #landing section#main ul.icons li {
    display : block;
    padding : 0;
  }

  #landing section#main ul.icons li a {
    @include icon_size_parent(2.25em);
  }

  #landing section#main ul.icons li a:before {
    @include icon_size_child(2.25em);
  }
}

@media (max-width : 460px) {
  body#landing, #landing div#wrapper {
    padding : 0;
    width : 100%;
  }

  #landing section#main {
    margin  : 40px 0 0 0;
    padding : 25px 0 20px 0;
    width : 100%;
  }

  #landing section#main .avatar:before {
    width : calc(100% + 3em);
  }

  #landing section#main ul.icons li a {
    @include icon_size_parent(2.25em);
  }

  #landing section#main ul.icons li a:before {
    @include icon_size_child(2.25em);
  }
}
