#about {
  #experience .job {
    padding : 20px 0px;
    text-align : center;

    img {
      height : 40px;
    }

    span {
      display : block;
    }

    .dates {
      color : #999;
    }

    @media(max-width : $device_md){
      margin : 0 0 40px 0;

      &:last-of-type {
        margin : 0;
      }
    }
  }

  #skills {
    div.progress {
      margin : 0 0 10px 0;
      height : 5px;
    }
  }
}
