#about{
  #experience .job {
    padding : 20px 0px;
    text-align : center;

    img {
      height : 40px;
    }

    span {
      display : block;
    }

    .dates {
      color : #999;
    }
  }
}
