body#landing {
	height: 100%;
	background-color: #ffffff;
	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-repeat: repeat,			no-repeat,			no-repeat;
	background-size: 100px 100px, cover,				cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;
}

#landing .avatar img {
	width : 122px;
	height : 122px;
}

ul.icons li a.fa-soundcloud:hover {
	border-color: rgb(255, 85,0);
}

ul.icons li a.fa-soundcloud:hover:before {
	text-shadow: 1.25px 0px 0px rgb(255, 85, 0), -1.25px 0px 0px rgb(255, 85, 0), 0px 1.25px 0px rgb(255, 85, 0), 0px -1.25px 0px rgb(255, 85, 0);
}

ul.icons li a.fa-github:hover {
	border-color: rgb(30,30,30);
}

ul.icons li a.fa-github:hover:before {
	text-shadow: 1.25px 0px 0px rgb(30,30,30), -1.25px 0px 0px rgb(30,30,30), 0px 1.25px 0px rgb(30,30,30), 0px -1.25px 0px rgb(30,30,30);
}

ul.icons li a.fa-linkedin:hover {
	border-color: rgb(0, 115, 177);
}

ul.icons li a.fa-linkedin:hover:before {
	text-shadow: 1.25px 0px 0px rgb(0, 115, 177), -1.25px 0px 0px rgb(0, 115, 177), 0px 1.25px 0px rgb(0, 115, 177), 0px -1.25px 0px rgb(0, 115, 177);
}

ul.icons li a.fa-envelope-o:hover {
	border-color: rgb(255, 0, 0);
}

ul.icons li a.fa-envelope-o:hover:before {
	text-shadow: 1.25px 0px 0px rgb(255, 0, 0), -1.25px 0px 0px rgb(255, 0, 0), 0px 1.25px 0px rgb(255, 0, 0), 0px -1.25px 0px rgb(255, 0, 0);
}
