body#landing {
	height: 100%;
	background-color: #ffffff;
	background-image: url("images/overlay.png"), -moz-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), -webkit-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), -ms-linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-image: url("images/overlay.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.25) 5%, rgba(0, 228, 255, 0.20)), url("../images/Ferry.jpg");
	background-repeat: repeat,			no-repeat,			no-repeat;
	background-size: 100px 100px, cover,				cover;
	background-position: top left,		center center,		bottom center;
	background-attachment: fixed,			fixed,				fixed;
}

#landing .avatar img {
	width : 122px;
	height : 122px;
}

ul.icons li a {
	border-color : #c8cccf;
	height : 3em;
	width  : 3em;
	line-height : 3em;
	text-indent : 3em;
}

ul.icons li a:before {
	font-size : 1.5em;
}

ul.icons li a:before{
	text-shadow: 1.25px 0px 0px #c8cccf, -1.25px 0px 0px #c8cccf, 0px 1.25px 0px #c8cccf, 0px -1.25px 0px #c8cccf;
}

ul.icons li a.fa-instagram:hover {
	border-color: rgba(255, 116, 150, 1);
}

ul.icons li a.fa-instagram:hover:before {
	text-shadow: 1.25px 0px 0px rgba(255, 116, 150, 1), -1.25px 0px 0px rgba(255, 116, 150, 1), 0px 1.25px 0px rgba(255, 116, 150, 1), 0px -1.25px 0px rgba(255, 116, 150, 1);
}

ul.icons li a.fa-soundcloud:hover {
	border-color: rgb(255, 85, 0);
}

ul.icons li a.fa-soundcloud:hover:before {
	text-shadow: 1.25px 0px 0px rgb(255, 85, 0), -1.25px 0px 0px rgb(255, 85, 0), 0px 1.25px 0px rgb(255, 85, 0), 0px -1.25px 0px rgb(255, 85, 0);
}

ul.icons li a.fa-github:hover {
	border-color: #666;
}

ul.icons li a.fa-github:hover:before {
	text-shadow: 1.25px 0px 0px #666, -1.25px 0px 0px #666, 0px 1.25px 0px #666, 0px -1.25px 0px #666;
}

ul.icons li a.fa-linkedin:hover {
	border-color: rgb(0, 115, 177);
}

ul.icons li a.fa-linkedin:hover:before {
	text-shadow: 1.25px 0px 0px rgb(0, 115, 177), -1.25px 0px 0px rgb(0, 115, 177), 0px 1.25px 0px rgb(0, 115, 177), 0px -1.25px 0px rgb(0, 115, 177);
}

ul.icons li a.fa-envelope-o:hover {
	border-color: #f44;
}

ul.icons li a.fa-envelope-o:hover:before {
	text-shadow: 1.25px 0px 0px #f44, -1.25px 0px 0px #f44, 0px 1.25px 0px #f44, 0px -1.25px 0px #f44;
}

@media screen and (max-width: 382px) {
	#landing > div#wrapper {
		padding : 0.75em 0px;
	}

	#landing ul.icons {
		margin-bottom : 10px;
	}

	#landing ul.icons li a {
		height : 2.5em;
		width  : 2.5em;
		line-height : 2.5em;
		text-indent : 2.5em;
	}
	
	#landing ul.icons li a:before {
		top : -2px;
		font-size : 1.5em;
	}

	#landing .avatar img {
		width : 100px;
		height : 100px;
	}
}

/* set to 1366px when finished */
@media screen and (max-width: 1366px) {

	ul.icons li a.fa-soundcloud {
		border-color: rgba(255, 85, 0, 0.2);
	}

	ul.icons li a.fa-soundcloud:before {
		text-shadow: 1.25px 0px 0px rgba(255, 85, 0, 0.2), -1.25px 0px 0px rgba(255, 85, 0, 0.2), 0px 1.25px 0px rgba(255, 85, 0, 0.2), 0px -1.25px 0px rgba(255, 85, 0, 0.2);
	}

	ul.icons li a.fa-github {
		border-color: rgba(0, 0, 0, 0.2);
	}

	ul.icons li a.fa-github:before {
		text-shadow: 1.25px 0px 0px rgba(0, 0, 0, 0.2), -1.25px 0px 0px rgba(0, 0, 0, 0.2), 0px 1.25px 0px rgba(0, 0, 0, 0.2), 0px -1.25px 0px rgba(0, 0, 0, 0.2);
	}

	ul.icons li a.fa-linkedin {
		border-color: rgba(0, 115, 177, 0.2);
	}

	ul.icons li a.fa-linkedin:before {
		text-shadow: 1.25px 0px 0px rgba(0, 115, 177, 0.2), -1.25px 0px 0px rgba(0, 115, 177, 0.2), 0px 1.25px 0px rgba(0, 115, 177, 0.2), 0px -1.25px 0px rgba(0, 115, 177, 0.2);
	}

	ul.icons li a.fa-envelope-o {
		border-color: rgba(255, 68, 68, 0.2);
	}

	ul.icons li a.fa-envelope-o:before {
		text-shadow: 1.25px 0px 0px rgba(255, 68, 68, 0.2), -1.25px 0px 0px rgba(255, 68, 68, 0.2), 0px 1.25px 0px rgba(255, 68, 68, 0.2), 0px -1.25px 0px rgba(255, 68, 68, 0.2);
	}

	ul.icons li a.fa-instagram {
		border-color: rgba(255, 116, 150, 0.3);
	}

	ul.icons li a.fa-instagram:before {
		text-shadow: 1.25px 0px 0px rgba(255, 116, 150, 0.3), -1.25px 0px 0px rgba(255, 116, 150, 0.3), 0px 1.25px 0px rgba(255, 116, 150, 0.3), 0px -1.25px 0px rgba(255, 116, 150, 0.3);
	}
}
