$primary_color : #fffffd;
$accent_color : #c4cccf;
$social_media_button_opacity : 0.4;

$text_color : #636363;
$background_image : "../images/Ferry.jpg";
$background_color : #88bbd6;
$background_color_primary : #cdcdcd;
$background_color_secondary : #99d3df;

$device_xs : 479px;
$device_sm : 767px;
$device_md : 991px;
$device_lg : 1199px;
