@import "../libs/bourbon/bourbon";
@import "../abstracts/variables";

html, 
body, 
.wrapper {
  margin : 0;
  padding : 0;
}

body {
  @include background-image(linear-gradient(45deg, $background_color_primary 15%, $background_color_secondary 85%));

  .wrapper {
    @include padding($wrapper_top_gutter, $wrapper_lg_side_gutter);
  }

  section#content section,
  > .wrapper > footer {
    padding : 3em 2em;
  }

  section#content section:first-of-type {
    padding : (3em + 3em) 2em 3em 2em;
  }

  @media (max-width : $device-xs) {
    section#content section:first-of-type {
      padding : 3em  2em;
    }
  }

  section#content {
    background-color : white;
    border-radius : 5px;

    > section {
      border-top : solid 1px #ddd;
    }
  }
}
