{% extends "base.html" %}

{% macro skill(skill_data, offset=none) %}
  {% set name = skill_data.name %}
  {% set percentage = skill_data.percent %}

  {% if percentage > 60 %}
    {% set color = "progress-bar-success "%}
  {% else %}
    {% set color = "progress-bar-info"%}
  {% endif %}

  {% if offset %}
    {% set offset = "col-sm-offset-3" %}
  {% else %}
    {% set offset = "" %}
  {% endif %}

  <div class="skill col-sm-6 {{offset}}">
    <span>{{name}}</span>
    <div class="progress"><div class="progress-bar {{color}} progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: {{percentage}}%"></div></div>
  </div>
{% endmacro %}

{% block title %}About{% endblock %}
{% block body_id %}about{% endblock %}

{% block header %}
<header id="header" class="alt">
  <span class="logo"><img src="/static/images/BakerBankedSlalom.jpg" alt="" /></span>
  <h1>Matt Finnell</h1>
  <p>Seattle Based Developer</p>
</header>
{% endblock %}

{% block nav %}
<li><a href="#bio" class="active">Bio</a></li>
<li><a href="#experience">Experience</a></li>
<li><a href="#skills">Skills</a></li>
<li><a href="#resume">Resume</a></li>
{% endblock %}

{% block body %}
<section id="bio">
  <header class="major">
    <h2>Bio</h2>
  </header>
  <p>My name is Matt. I am from Bellingham but now live in Seattle. I studied Computer Science at Western Washington University which is where I discovered my interest for Artificial Intelligence, Machine Learning and deeper Mathematics.</p>
  <p>I primarily made this site as a flexible way to get my projects out of the dark cave that is my sandbox folder. If you would like to see how I made this site, then check out the source code on my <a href="https://github.com/">github</a>.</p>
</section>
<section id="experience">
  <header class="major">
    <h2>Where I've worked</h2>
  </header>
  <div class="row">
    <div class="job col-md-4">
      <a href="http://www.spie.org/"><img src="/static/images/spie.png" alt=""></a>
      <div class="details">
        <span>Software Development Engineering Intern</span>
        <span class="dates">June 2015 to June 2016</span>
      </div>
    </div>
    <div class="job col-md-4">
      <a href="http://www.tagnw.org"><img src="/static/images/tagnw.png" alt=""></a>
      <div class="details">
        <span>Volunteer Developer</span>
        <span class="dates">January 2015 to December 2015</span>
      </div>
    </div>
    <div class="job col-md-4">
      <a href="http://preparedresponse.com/"><img src="/static/images/PreparedResponse.png" alt=""></a>
      <div class="details">
        <span>Front End Web Development Intern</span>
        <span class="dates">June 2014 to January 2015</span>
      </div>
    </div>
  </div>
</section>
<section id="skills">
  <header class="major">
    <h2>Skills</h2>
  </header>
  <div class="skills container-fluid">
    {% set lastitem = none %}
    {% if data.skills | length is divisibleby 2 %}
      {% set skills = data.skills %}
    {% else %}
      {% set skills = data.skills[:-1] %}
      {% set lastitem = data.skills[-1] %}
    {% endif %}


    {% for s in skills %}
      {% if not loop.index is divisibleby 2 %}
        <div class="row">
      {% endif %}
        {{skill(s)}}
      {% if loop.index is divisibleby 2 %}
        </div>
      {% endif %}
    {% endfor %}
    {% if not lastitem is none %}
      <div class="row">
        {{skill(lastitem, offset=True)}}
      </div>
    {% endif %}
  </div>
</section>
<section id="resume">
  <header class="major">
    <h2>Resume</h2>
  </header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center">
        <a class="button" href="/static/resources/Resume-MattFinnell.pdf"><h4>Resume</h4></a>
      </div>
      <div class="col-sm-6 text-center">
        <a class="button" href="https://github.com/mattfinnell"><h4>Github</h4></a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
