<footer class="container-fluid">
  <div class="row">
    <section class="col-md-6 text-left">
      <h2>Quick About</h2>
      <p>I am a Seattle Developer with 6 years of experience across a wide variety of tools. I studied Computer Science at Western Washington University and have a strong interest for Machine Learning, AI, and Mathematics.</p>
      <ul class="actions">
        <li><a href="/about/" class="button">Full About</a></li>
      </ul>
    </section>
    <section class="col-md-6">
      <h2>Contact</h2>
      <dl class="alt">
        <dt>Phone</dt>
        <dd>(425) 351-2896</dd>
        <dt>Email</dt>
        <dd><a href="mailto:mattfinnell104@gmail.com">mattfinnell104@gmail.com</a></dd>
      </dl>
      <ul class="social-media-buttons">
        <li><a target="_blank" class="icon alt fa fa-github"     href="https://github.com/mattfinnell" ></a></li>
        <li><a target="_blank" class="icon alt fa fa-linkedin"   href="https://www.linkedin.com/in/mattfinnell/#" ></a></li>
        <li><a target="_blank" class="icon alt fa fa-instagram"  href="https://www.instagram.com/matt_finnell/" ></a></li>
        <li><a target="_blank" class="icon alt fa fa-soundcloud" href="https://soundcloud.com/mattfinnell" ></a></li>
        <li><a target="_blank" class="icon alt fa fa-envelope-o" href="mailto:mattfinnell104@gmail.com" ></a></li>
      </ul>
    </section>
  </div>
  <div class="text-center">
    <p id="builtwith"> built_with =
      [<a href="https://www.python.org/"><img src="/static/images/python.png"/></a>,
      <a href="https://www.heroku.com/home"><img src="/static/images/heroku.png"/></a>,
      <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5"><img src="/static/images/HTML5.png"/></a>,
      <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS3"><img src="/static/images/CSS3.png"/></a>,
      <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript"><img src="/static/images/JS6.png"/></a>]
    </p>
  </div>
</footer>
