{% extends "master.html" %} 

{% block title %} Welcome {% endblock %}

{% block body_id %}landing{% endblock %}
{% block body_clases %}is-loading{% endblock %}

{% block content %} 
	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<section id="main">
			<header>
				<span class="avatar"><img src="/static/images/BakerBankedSlalom.jpg" alt="" /></span>
				<h1>Matt Finnell</h1>
				<h2>Seattle Based Developer</h2>
				<p>Website Coming Soon</p>
			</header>
			<footer>
				<ul class="icons">
					<li><a target="_blank" href="https://www.instagram.com/matt_finnell/" class="fa-instagram">>Instragram</a></li>
					<li><a target="_blank" href="https://soundcloud.com/mattfinnell" class="fa-soundcloud">SoundCloud</a></li>
					<li><a target="_blank" href="https://github.com/mattfinnell" class="fa-github">GitHub</a></li>
					<li><a target="_blank" href="https://www.linkedin.com/in/mattfinnell/#" class="fa-linkedin">LinkedIn</a></li>
					<li><a target="_blank" href="mailto:mattfinnell104@gmail.com" class="fa-envelope-o">SoundCloud</a></li>
				</ul>
			</footer>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="copyright">
				<li>&copy; Matt Finnell 2017</li>
			</ul>
		</footer>
	</div>
{% endblock %}

{% block js %}
	<!-- Scripts -->
	<!--[if lte IE 8]><script src="static/js/respond.min.js"></script><![endif]-->
	<script>
		if ('addEventListener' in window) {
			window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
			document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
		}
	</script>
{% endblock %}
